h1{
  text-align: center;
}

.hyperlinks{
  text-align: center;
  font-size: 32px;
  font-style: bold;
}

a{
  color: #393939;
}

.hut{
  border-radius: 50px;
  text-align: center;

}

p{
  text-align: center;
}

.description{
  text-align: center;
}

li{
  text-align: center;
}

.img{
  text-align: center;
}

body{
  background-image: url("img/light-blue-background.jpg");
}
