h1{
  text-align: center;
  font-family: cursive;
  font-size: 72px;
  color: #654321;
}

.hyperlinks{
  text-align: center;
  font-size: 32px;
  font-style: bold;
}

.hyperlinks2{
  text-align: center;
  font-size: 24px;
  font-style: bold;
}

a{
  color: #654321;
}

.hut{
  border-radius: 50px;
  text-align: center;

}

p{
  text-align: center;
}

.description{
  text-align: center;
  color: #654321;
}

li{
  text-align: center;
  color: #654321;
}

.img{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 500px;
}

.swim{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 500px;
}

.tree{


}

body{
  background-image: url("img/light-blue-background.jpg");
}
